:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  height: 600px;
  width: 800px;
}

.logo {
  display: flex;
  height: 35px;
  width: 35px;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.top-bar {
  display: flex;
  padding: 10px 10px 15px 10px;
  background-color: #30496d;
}

.container {
  margin: 0;
  display: flex;
  align-items: start;
  text-align: center;
  background-color: #f7f6ee;
  height: 515px;
}

.top-btn {
  width: 100px;
  height: 35px;
  border-radius: 4px;
  border: 1px solid #5a78a3;
  text-align: center;
  font-size: 12px;
  margin-right: 10px;
  background-color: #30496d;
  color: #fff;
}

.actions {
  display: flex;
  flex-direction: column;
  background-color: #a3afc0;
  height: 100%;
}

.preview {
  width: 100%;
  height: 515px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
  border-color: none;
  background-color: #4f6789;
  color: #a3afc0;
  border: none;
  box-shadow: none;
}

button:hover {
  border-color: #fff;
}
button:active {
  border-color: #fff;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}

img {
  height: 400px;
  max-width: 500px;
  min-width: 400px;
  border: 1px solid #d7d7d7;
  object-fit: contain;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
}
